body {
  background-color: blue;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  display: flex;
  flex-direction: column;
}

.col-right {
  width: 21%;
  padding: 4px 4px;
}

.category_elements: {

}