body {
  background-color: plum;
  color: black;
}

.upTop {
  margin-top: 15px;
}

h1 {
  float: left;
}

.form-group {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  padding-bottom: 5px;
}


.container-fluid {

}

.content {
  width: 100%;
  overflow: hidden;
}

.col {

}

.col-left {
  width: 60%;
  float: left;
  margin-left: 10px;
}

.col-right {
  color: white;
  width: 23%;
  float: right;
  margin-right: 10px;
}

.progress {
margin-left: 100px;
margin-right: 100px;
}