body {
  background-color: palegreen;
  color: grey;
}

.upTop {
  border-bottom: 2px solid red;
  margin-top: 15px;
}

h1 {
  float: left;
  border-bottom: 2px solid red;
}

.form-group {
  float: right;
  margin-right: 15px;
  margin-top: 15px;
}


.container-fluid {

}

.col-left {
  float: left;
  margin-top: 50px;
  width: 68%;
  border: solid 1px red;
}

.col-right {
  float: right;
  width: 23%;
}

.category_elements {

}